[contenteditable] {
  outline: 0px solid transparent;
}

.btn-group {
  background-color: rgba(211, 211, 211, 0.1);
  width: max-content;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 10px;
  height: 61.5px;
  margin-bottom: 10px;
  border-radius: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
  text-align: center;
  display: inline-block;
}

.btn-group button {
  background-color: #737373;
  border: none;
  color: white;
  font-family: serif;
  font-size: 16px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0px;
  text-align: center;
  border-radius: 5px;
  width: 50px;
}

.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none;
}

.downloadButton {
  background-color: #1A73E8 !important;
}

.column {
  margin-top: 80px;
}

/*.card {*/

/*  height: 83%;*/

/*}*/

.topnav {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  width: 100%;
}

@media only screen and (min-width: 520px) {
  .topnav {
    text-align: center;
  }
}

@media only screen and (max-width: 520px) {
  .btn-group {
    margin-right: 10px;
    width: 240px;
    height: 61.5px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }
}

@media only screen and (max-width: 360px) {
  .btn-group {
    margin-right: 10px;
    width: 178.45px;
    height: 61.5px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }
}

.btn-group button:hover {
  background-color: #f2f2f2;
  color: black;
}

.backdrop {
  background-color: #737373;
}

.sans {
  font-family: sans-serif;
  font-size: revert;
}

.separator {
  border-left: 1px solid #737373;
  margin-left: 5px;
  margin-right: 10px;
}

.caret {
  color: lightgray;
  font-size: 20px;
  background-color: transparent;
  border: none;
  position: absolute;
  margin-top: 65px;
  transform: rotate(-180deg);
  margin-right: 0px;
  right: 3px;
  padding-bottom:-2px;
}

.rotate {
  transform: rotate(90deg);
}

.topshift {
  margin-top: -72px;
}