[contenteditable] {
  outline: 0px solid transparent;
  font-family: "Georgia";
}

.btn-group {
  background-color: rgba(211, 211, 211, 0.1);
  width: max-content;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 8px;
  height: 61.5px;
  margin-bottom: 5px;
  border-radius: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
  text-align: center;
  display: inline-block;
}

.btn-group button {
  background-color: #737373;
  border: none;
  color: white;
  font-family: serif;
  font-size: 16px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0px;
  text-align: center;
  border-radius: 5px;
  height: 40px;
  width: 50px;
}

.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none;
}

.downloadButton {
  border: none;
  border-radius: 10px;
  background-color: #1A73E8 !important;
  color: white;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  padding: 7px 28px;
  font-size: 16px;
  font-family: sans-serif;
  cursor: pointer;
  text-align: center;
}

.downloadButton:hover {
  color: white !important;
  opacity: 0.8;
}

.editButton {
  border: none;
  border-radius: 10px;
  background-color: #7a0099;
  color: white;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  padding: 7px 28px;
  font-size: 16px;
  font-family: sans-serif;
  cursor: pointer;
  text-align: center;
}

.editButton:hover {
  color: white !important;
  opacity: 0.8;
}

.centerButton {
  background-color: #696987 !important;
}

.centerButton:hover {
  color: white !important;
  opacity: 0.8;
}

.column {
  margin-top: 80px;
}

/*.card {*/

/*  height: 83%;*/

/*}*/

.topnav {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  width: 100%;
}

@media only screen and (min-width: 520px) {
  .topnav {
    text-align: center;
  }
  .search {
    margin-right: 100px;
  }
}
@media only screen and (max-width: 750px) {
  .btn-group {
    margin-right: 10px;
    width: 369px;
    height: 61.5px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }
}

@media only screen and (max-width: 520px) {
  .btn-group {
    margin-right: 10px;
    width: 240px;
    height: 61.5px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }
}

@media only screen and (max-width: 360px) {
  .btn-group {
    margin-right: 10px;
    width: 178.45px;
    height: 61.5px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }
}

.btn-group button:hover {
  background-color: #f2f2f2;
  color: black;
}

.backdrop {
  background-color: #737373;
}

.jots-backdrop {
  background-color: #D8D8D8;
}

.sans {
  font-family: sans-serif !important;
}

.separator {
  border-left: 1px solid #737373;
  margin-left: 5px;
  margin-right: 10px;
}

.search {
  background-color: rgba(211, 211, 211, 0.1);
  width: max-content;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 13px;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
  text-align: center;
  display: inline-block;
  color: white;
  border: none;
  font-size: 16px;
}

#savedSnackbar {
  visibility: hidden;
  min-width: 100px;
  margin-left: -125px;
  font-family: sans-serif;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 16px;
}

#savedSnackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#wordCountSnackbar {
  visibility: hidden;
  min-width: 100px;
  margin-left: -125px;
  font-family: sans-serif;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 16px;
}

#wordCountSnackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

.jot {
  height: 20% !important;
}

.createButton {
  display: block;
  border: none;
  border-radius: 10px;
  background-color: #7a0099;
  color: white;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 14px 28px;
  font-size: 16px;
  font-family: sans-serif;
  cursor: pointer;
  text-align: center;
}

.createButton:hover {
  color: white !important;
  opacity: 0.8;
}

.deleteButton {
  border: none;
  border-radius: 10px;
  background-color: crimson;
  color: white;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  padding: 7px 28px;
  font-size: 16px;
  font-family: sans-serif;
  cursor: pointer;
  text-align: center;
}

.deleteButton:hover {
  color: white !important;
  opacity: 0.8;
}

.slider {
  -webkit-appearance: none;
  width: 50px;
  background: #d3d3d3;
  height: 2px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  background: rgb(105, 105, 135);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: rgb(105, 105, 135);
  cursor: pointer;
}

.dateSans {
  font-family: sans-serif !important;
}