/* core style */
body, html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: "Georgia";
  font-size: 48px;
}

h2 {
  font-family: "Georgia";
  font-size: 32px;
}

p {
  font-family: "Georgia";
  font-size: 18px;
  line-height: 1.5;
}

ul {
  font-family: "Georgia";
  font-size: 18px;
}

ol {
  font-family: "Georgia";
  font-size: 18px;
}

a {
  color: black;
  text-decoration: none
}

blockquote {
  padding: 1% 5% 1% 5%;
  font-family: Menlo, Consolas, Monaco, Courier, monospace !important;
  background: rgb(245, 246, 247);
  font-size: 16px;
}

.content {
  padding: 0% 20% 0% 20%;
  text-align: justify;
  text-justify: inter-word;
}

.center {
  margin: 0 auto;
}

.column {
  width: 70%;
  display: block;
  margin-bottom: 20px;
}

.hideContent {
  display: none;
}

.row {
  padding: 0% 5% 0% 5%;
}

.backdrop {
  background-color: #f1f1f1;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  margin-bottom: 20px;
  text-align: center;
  background-color: #ffff;
}

@media only screen and (max-width: 750px) {
  .content {
    padding: 5% 5% 5% 5%;
    text-align: left;
  }
  .row {
    padding: 0% 3% 0% 3%;
  }
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.center {
  text-align: center
}

.banner {
  display: flex;
  max-width: 100%;
  max-height: 90%;
}

.stretch {
  width: 100%;
  max-height: 90%;
}

.topnav {
  overflow: hidden;
  background-color: #343434;
  font-family: sans-serif;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #737373;
  color: white;
}

/* jot style */

[contenteditable] {
  outline: 0px solid transparent;
  font-family: "Georgia";
}

.btn-group {
  background-color: rgba(211, 211, 211, 0.1);
  width: max-content;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 4px;
  height: 59px;
  border-radius: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
  text-align: center;
  display: inline-block;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

 .btn-group::-webkit-scrollbar {
  display: none;
}

.btn-group button {
  background-color: #737373;
  border: none;
  color: white;
  font-family: serif;
  font-size: 16px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0px;
  text-align: center;
  border-radius: 5px;
  height: 40px;
  width: 50px;
}

.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none;
}

.saveButton {
  border: none;
  border-radius: 10px;
  background-color: #1A73E8 !important;
  color: white;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  padding: 7px 28px;
  font-size: 16px;
  font-family: sans-serif;
  cursor: pointer;
  text-align: center;
}

.saveButton:hover {
  color: white !important;
  opacity: 0.8;
}

.editButton, .downloadButton, .deleteButton, .readMoreButton {
  --hover-background: black;
  --hover-color: white;
  --color: #1d1d1f;
  color: var(--color);
  background: none;
  text-decoration: none;
  border: 1px solid var(--color);
  border-radius: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  padding: 7px 28px;
  font-size: 16px;
  font-family: sans-serif;
  cursor: pointer;
  text-align: center
}

.editButton:hover, .downloadButton:hover, .deleteButton:hover, .readMoreButton:hover {
  color: white !important;
  background: black !important;
}

.centerButton {
  background-color: #696987 !important;
}

.centerButton:hover {
  color: white !important;
  opacity: 0.8;
}

.column {
  margin-top: 80px;
}

.topnav {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  width: 100%;
}

@media only screen and (min-width: 520px) {
  .topnav {
    text-align: center;
  }
  .search {
    margin-right: 100px;
    width: max-content;
  }
}
@media only screen and (max-width: 750px) {
  .btn-group {
    margin-right: 10px;
    width: 369px;
    height: 61.5px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }
}

@media only screen and (max-width: 520px) {
  .btn-group {
    margin-right: 10px;
    width: 240px;
    height: 61.5px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }
}

@media only screen and (max-width: 360px) {
  .btn-group {
    margin-right: 10px;
    width: 178.45px;
    height: 61.5px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }
  .search {
    width: 150px;
  }
}

.btn-group button:hover {
  background-color: #f2f2f2;
  color: black;
}

.backdrop {
  background-color: #737373;
}

.jots-backdrop {
  background-color: #D8D8D8;
}

.sans {
  font-family: sans-serif !important;
}

.separator {
  border-left: 1px solid #737373;
  margin-left: 5px;
  margin-right: 10px;
}

.search {
  background-color: rgba(211, 211, 211, 0.1);
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 13px;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
  text-align: center;
  display: inline-block;
  color: white;
  border: none;
  font-size: 16px;
}

#savedSnackbar, #wordCountSnackbar {
  visibility: hidden;
  min-width: 100px;
  margin-left: -125px;
  font-family: sans-serif;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 16px;
}

#savedSnackbar.show, #wordCountSnackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

.jot {
  height: 20% !important;
}

.createButton {
  display: block;
  border: none;
  border-radius: 10px;
  background-color: #7a0099;
  color: white;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 14px 28px;
  font-size: 16px;
  font-family: sans-serif;
  cursor: pointer;
  text-align: center;
}

.createButton:hover {
  color: white !important;
  opacity: 0.8;
}

.newJotButton {
  border: none;
  border-radius: 10px;
  background-color: #7a0099;
  color: white;
  margin-top: 13px;
  padding: 14px 28px;
  font-size: 16px;
  font-family: sans-serif;
  cursor: pointer;
  text-align: center;
  position: inherit;
}

.newJotButton:hover {
  color: white !important;
  opacity: 0.8;
}

.slider {
  -webkit-appearance: none;
  width: 50px;
  background: #d3d3d3;
  height: 2px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  background: rgb(105, 105, 135);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: rgb(105, 105, 135);
  cursor: pointer;
}

.dateSans {
  font-family: sans-serif !important;
  margin-bottom: -5px;
  margin-top: 10px;
}

.wordCountButton {
  border-radius: 20px !important;
  height: 40px !important;
  width: 45px !important;
}