/* Crimson Tide */
.crimsonTide {
    background-color: #9E1B32 !important;
    color: white !important;
    border-color: #9E1B32;
}

.crimsonTide button:hover {
    opacity: 0.8;
}

.crimsonTide2 {
    background-color: white !important;
    color: #9E1B32 !important;
}

/* Regal */
.regal {
    background-color: #696987 !important;
    border-color: #7a0099 !important;

}

.regal button {
    background-color: #7a0099 !important;
    color: white !important;
}

.regal button:hover {
    opacity: 0.6;
}

.regal-backdrop {
    background-color: #d2d2dd !important;
}
/* Batcave */
.batcave {
    background-color: black !important;
}

.batcave-backdrop {
    background-color: #252525 !important;
    color: white;
}

/* Pumpkin */

/* Lux */
.lux {
    background-color: white !important;
    color: goldenrod !important;
}

.lux a {
    color: black !important;
}

.lux2 {
    background-color: goldenrod !important;
    color: white !important;
}